body {
    background-color: antiquewhite;
}

#container {
    margin: auto;
    position: absolute;
    width: 500px;
    height: 300px;
    border: 1px solid black;
    border-radius: 15px;
    display: table-column;
    align-items: center;
    justify-content: center;
    align-items: center;
}

#bgMode {
    padding: 10px;
    font-size: 30px;
    font-weight: 800;
}

#click {
    width: 25-x;
    height: 25px;
    background-color: beige;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 10px;
}

#click:hover {
    background-color: yellow;
}

